In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mount Isa,AU,2021-08-08 00:04:37,-20.7333,139.5000,67.77,22,0,11.50
1,1,Praia,CV,2021-08-08 00:04:38,14.9215,-23.5087,78.78,87,42,11.10
2,2,Lagoa,PT,2021-08-08 00:04:38,39.0500,-27.9833,68.61,67,53,10.58
3,3,Busselton,AU,2021-08-08 00:04:06,-33.6500,115.3333,58.05,91,96,1.16
4,4,Hermanus,ZA,2021-08-08 00:04:38,-34.4187,19.2345,49.89,68,86,4.41

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Praia,CV,2021-08-08 00:04:38,14.9215,-23.5087,78.78,87,42,11.10
12,12,Bathsheba,BB,2021-08-08 00:01:57,13.2167,-59.5167,81.43,76,10,10.76
21,21,Puerto Ayacucho,VE,2021-08-08 00:04:43,5.6639,-67.6236,76.46,85,52,2.64
23,23,Butaritari,KI,2021-08-08 00:04:43,3.0707,172.7902,82.87,65,21,14.38
25,25,Trairi,BR,2021-08-08 00:03:47,-3.2778,-39.2689,80.15,75,79,14.14
39,39,Kapaa,US,2021-08-08 00:04:47,22.0752,-159.3190,86.32,71,1,4.00
43,43,Lumberton,US,2021-08-08 00:04:37,34.6182,-79.0086,81.28,88,100,5.55
47,47,Albany,US,2021-08-08 00:02:21,42.6001,-73.9662,77.52,84,100,2.37
51,51,Cobija,BO,2021-08-08 00:04:50,-11.0267,-68.7692,77.47,42,1,1.68
52,52,Hasaki,JP,2021-08-08 00:01:47,35.7333,140.8333,79.20,96,100,26.46

In [11]:
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1             Praia      CV     78.78  14.9215  -23.5087
12        Bathsheba      BB     81.43  13.2167  -59.5167
21  Puerto Ayacucho      VE     76.46   5.6639  -67.6236
23       Butaritari      KI     82.87   3.0707  172.7902
25           Trairi      BR     80.15  -3.2778  -39.2689
39            Kapaa      US     86.32  22.0752 -159.3190
43        Lumberton      US     81.28  34.6182  -79.0086
47           Albany      US     77.52  42.6001  -73.9662
51           Cobija      BO     77.47 -11.0267  -68.7692
52           Hasaki      JP     79.20  35.7333  140.8333

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Praia,CV,78.78,14.9215,-23.5087,LT Aparthotel
12,Bathsheba,BB,81.43,13.2167,-59.5167,Atlantis Hotel
21,Puerto Ayacucho,VE,76.46,5.6639,-67.6236,Posada Turistica Manapiare
23,Butaritari,KI,82.87,3.0707,172.7902,Isles Sunset Lodge
25,Trairi,BR,80.15,-3.2778,-39.2689,janelas do mar
39,Kapaa,US,86.32,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
43,Lumberton,US,81.28,34.6182,-79.0086,"Country Inn & Suites by Radisson, Lumberton, NC"
47,Albany,US,77.52,42.6001,-73.9662,
51,Cobija,BO,77.47,-11.0267,-68.7692,Hotel Obelisco
52,Hasaki,JP,79.20,35.7333,140.8333,Hotel Sunrise Choshi

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))