In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-08-04 03:34:43,-54.8000,-68.3000,40.66,70,75,5.75
1,1,Tiksi,RU,2021-08-04 03:34:43,71.6872,128.8694,45.23,71,61,10.63
2,2,Marfino,RU,2021-08-04 03:34:43,55.7028,37.3822,60.87,94,0,2.24
3,3,Rikitea,PF,2021-08-04 03:34:44,-23.1203,-134.9692,70.48,63,71,15.26
4,4,Severo-Kurilsk,RU,2021-08-04 03:34:44,50.6789,156.1250,53.78,70,100,18.81